.header {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.header__logo {
    height: 100px;
    width: 100px;
    margin-right: 1.5rem;
}

.header__logo img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}